
@media (max-width: 1200px) {

  .steps{
    flex-direction: column;
  }

  .dots{
    flex-direction: column;
  }

  .steps__item{
    padding: 15px;
    padding-bottom: 30px;
  }

  .steps__text{
    height: fit-content;
    width: fit-content;
  }

  .footer .container{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 968px) {
  .carousel__slide {
    flex: 0 0 calc((100% / 2) + 8px);
    max-width: calc(50vw - 12px);
  }

  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 880px) {
  .header__nav{
    display: none;
  }

  .button--burger{
    display: flex;
  }
  
}


@media (max-width: 768px) {
  .hero__title{
    font-size: 35px;
  }

  .hero{
    padding-bottom: 100px;
  }

  .hero__actions{
    flex-direction: column;
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
  }

  .form{
    max-width: 500px;
  }

  .form__group{
    flex-direction: column;
  }

  .form__select,
  .form__input{
    width: 100%;
    max-width: 100%;
  }

  .custom-file-upload{
    background-position-x: 10%;
    padding: 12px 0px;
    text-align: center;
  }

  .footer__content{
    flex-direction: column;
  }

  .footer__menu{
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    gap:14px;
  }

  .footer__contact{
    padding-left: 0px;
  }
}

@media (max-width: 590px) {
 
  
  .carousel__slide {
      flex: 0 0 100%;
      max-width: calc(100vw - 23px);
  }

  .carousel__buttons{
    top: 15%;
  }

  .reviews__title{
    margin-bottom: 120px;
  }
}
